<%- include("partials/header")-%>
<div class="form-group" style="margin: 2rem 2rem 2rem 2rem;">
<form method="POST" action="/" enctype="multipart/form-data">
    <label for="file"><b>Upload the file here</b></label>
    <input type="file" id="file" name="file" class="form-control-file"><br>
    <button type="submit" class="btn btn-info">Submit</button>


</form></div>
<a href="/display"><button class="btn btn-info">Display the Contents</button></a>
<%- include("partials/footer")-%>